:root{
    --color-white: #fefefe;
    --color-black: #222;
    --color-gray: #4f4f4f;
    --color-base-1: #f92;
    --color-base-2: #146eb4;
    --color-check-valid: #37F230;
    --color-check-invalid: #F20F0F;
}
