.section-user{
    background: image-set(url("/assets/Various/pexels-markus-winkler-1430818-11392632.jpg")) bottom / cover fixed no-repeat;
}
.form__box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
#form{
    width: 400px;
    padding: 40px 0;
    color: var(--color-black);
    background: var(--color-white);
    box-shadow: 0 0 6px 0 var(--color-base-1);
    border-radius: 10px;
}
.form__inputs{
    position: relative;
    margin: 45px;
    text-align: left;
    background: none;
}
input{
    padding: 10px 10px 10px 5px;
    color: var(--color-base-1);
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid var(--color-gray);
    background: none;
}
input:focus{
    outline: none;
    color: var(--color-gray)
}
label{
    position: absolute;
    bottom: 8px;
    left: 5px;
    color: var(--color-gray);
    pointer-events: none;
    transition: 0.5 ease-in-out all;
}